body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #26272c;
}

#DisplayBox , #UiBox {
    width: 75%;
    display: inline-block;
    padding: 20px 0px 20px 0px;
}

#mainTimer {
    font-size: 13vw;
    color: rgb(187, 183, 206);
}

#lapBox {
    width: 100%;
    text-align: end;
    font-size: 25px;
    color: rgb(187, 183, 206);
    margin: 0px 0px -20px 0px;
}


#set {
    color: rgb(187, 183, 206);
    font-size: 5vw;
}

#btnDiv {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.timeBox {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #3b3d44;
    position: relative;
}

#keyHeader {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.key {
    width: 30%;
    font-size: 30px;
    font-weight: 700;
    margin: 5px 0px -5px -5px;
}


input {
    padding-left: 10px;
    width: 20%;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.activityBox {
    padding: 0;
    width: 100%;
    align-self: center;
    margin: -15px 0px 10px 0px;
    
}

button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    background-color: #1f1f24;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

#addTimer {
    width: 25%;
}

.timTop {
    position: absolute;
    text-align: end;
    padding: 5px;
    right: 0;
    margin-bottom: -25px;
}